services:
  backend:
    image: yiisoftware/yii2-php:8.4-fpm-nginx
    container_name: yii2
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./backend:/app:delegated
    ports:
      - '8000:80'
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network
        
  migrate:
    image: yiisoftware/yii2-php:8.4-fpm-nginx
    container_name: yii2-migrate
    volumes:
      - ./backend:/app
    depends_on:
      mysql:
        condition: service_healthy
    command: php yii migrate --interactive=0
    networks:
      - app-network
    
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_PASSWORD: test
      MYSQL_USER: test
      MYSQL_DATABASE: app
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    networks:
      - app-network
  
  nuxt:
    image: node:20
    container_name: nuxt
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    volumes:
      - ./frontend:/app

volumes:
  mysql_data:

networks:
  app-network: